.vol-view{
	background: #f8f8f8;
	height: 100%;
}
.vol-view-header{
	 padding: 22rpx 28rpx;
	 background: #fff;
	.header-total,.btn{
		color: #3f3f3f;
		font-size: 28rpx;
	}	
	.btns{
		justify-content: flex-end;
	}
	.btn{
		margin-left: 20rpx;
		flex: unset;
		align-items: center;
		justify-content: center; 
	}
}
.vol-view-table{
	background: #fafafa;
}

.vol-action-sheet-select-container {
		min-height: 40rpx;
		display: flex;
		flex-direction: column;
        background: #f7f7f7;
	
		.vol-action-sheet-select-title {
			padding: 24rpx;
			text-align: center;
			position: relative;
			border-bottom: 1px solid rgb(233 233 233);
             position:sticky;
				top:0.1;
				background: #fff;
			 z-index: 1;
			// .vol-action-sheet-select-confirm {
			// 	position: absolute;
			// 	right: 30rpx;
			// 	color: #007AFF;
			// 	font-weight: 500;
			// }

			.f-icon {
				position: absolute;
				right: 0rpx;
				top: 0;
				font-size: 28rpx;
				color: #2979FF;
				line-height: 49px;
				height: 47px;
				width: 80px;
				padding-right: 30rpx;
				text-align: right;
			}
		}

		.vol-action-sheet-select-content {
			flex: 1;
			height: 0;
			background: #f8f8f8;
			overflow: scroll;
		    padding:20rpx;
		}

		.btns {
			display: flex;
			padding: 20rpx 20rpx 30rpx 0rpx;
			// background: #f7f7f7;

			.btn {
				flex: 1;
				margin-left: 20rpx;
			}
		}

		.l-btn {
			display: inline-block;
			width: 100%;

			.btn {
				float: left;
				width: 31.5%;
				margin-left: 1.5%;
				margin-top: 20rpx;
			}
		}
	}
	
	.vol-search-input-item{
		padding: 20rpx;
		padding-top: 0;
		background: #fff;
	}